{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Transaction Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['type'] }}</td>
                    <td>{{ transaction['symbol'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['price'] | usd }}</td>
                    <td>{{ transaction['transacted_at'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
