{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h2>Portfolio</h2>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["total_shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["price"] * stock.total_shares }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash balance</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">Grand Total</td>
                <td>{{ total_value | usd }}</td>
            </tr>
        </tbody>
    </table>

    <h4></h4>
    <h4></h4>
{% endblock %}
