{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell Stocks</h2>
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="symbol">Stock Symbol</label>
            <select class="form-control" id="symbol" name="symbol" required>
                <option value="" disabled selected>Select a Stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.name }} ({{ stock.symbol }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="shares">Number of Shares</label>
            <input type="number" class="form-control" id="shares" name="shares" placeholder="Number of Shares" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
    </form>
{% endblock %}
